{% extends "layout/index.twig" %}

{% block content %}
<h1>{{ controller }} : {{ model.name() }}</h1>

{% for name, value in model %}
    {% set attribute = model.getAttribute(name) %}
    {% if attribute.__toString() %}
        <p class="attribute">
            <b>{{ name }}</b> :
            {% include find_template( attribute, 'view' ) with { 'attribute': attribute } only %}
        </p>
    {% endif %}
{% endfor %}

<div class="action">
    <a class="btn" href="{{ route( 'Model', 'list', controller ) }}"><i class="icon-th-list"></i> List</a>
    <a class="btn" href="{{ route( 'Model', 'edit', controller, model.id ) }}"><i class="icon-pencil"></i>
        Edit</a>
    <a class="btn btn-danger" href="{{ route( 'Model', 'delete', controller, model.id ) }}"
       onclick="return confirm( 'Do you want to delete ?')"><i class="icon-remove"></i> Delete</a>
</div>
{% endblock %}